/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/

[data-bs-theme="dark"] .hljs {
  color: #c9d1d9;
  background: #0d1117;
}

[data-bs-theme="dark"] .hljs-doctag,
[data-bs-theme="dark"] .hljs-keyword,
[data-bs-theme="dark"] .hljs-meta .hljs-keyword,
[data-bs-theme="dark"] .hljs-template-tag,
[data-bs-theme="dark"] .hljs-template-variable,
[data-bs-theme="dark"] .hljs-type,
[data-bs-theme="dark"] .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72;
}

[data-bs-theme="dark"] .hljs-title,
[data-bs-theme="dark"] .hljs-title.class_,
[data-bs-theme="dark"] .hljs-title.class_.inherited__,
[data-bs-theme="dark"] .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff;
}

[data-bs-theme="dark"] .hljs-attr,
[data-bs-theme="dark"] .hljs-attribute,
[data-bs-theme="dark"] .hljs-literal,
[data-bs-theme="dark"] .hljs-meta,
[data-bs-theme="dark"] .hljs-number,
[data-bs-theme="dark"] .hljs-operator,
[data-bs-theme="dark"] .hljs-variable,
[data-bs-theme="dark"] .hljs-selector-attr,
[data-bs-theme="dark"] .hljs-selector-class,
[data-bs-theme="dark"] .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff;
}

[data-bs-theme="dark"] .hljs-regexp,
[data-bs-theme="dark"] .hljs-string,
[data-bs-theme="dark"] .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff;
}

[data-bs-theme="dark"] .hljs-built_in,
[data-bs-theme="dark"] .hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657;
}

[data-bs-theme="dark"] .hljs-comment,
[data-bs-theme="dark"] .hljs-code,
[data-bs-theme="dark"] .hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e;
}

[data-bs-theme="dark"] .hljs-name,
[data-bs-theme="dark"] .hljs-quote,
[data-bs-theme="dark"] .hljs-selector-tag,
[data-bs-theme="dark"] .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787;
}

[data-bs-theme="dark"] .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}

[data-bs-theme="dark"] .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}

[data-bs-theme="dark"] .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60;
}

[data-bs-theme="dark"] .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}

[data-bs-theme="dark"] .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}

[data-bs-theme="dark"] .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}

[data-bs-theme="dark"] .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}

[data-bs-theme="dark"] .hljs-char.escape_,
[data-bs-theme="dark"] .hljs-link,
[data-bs-theme="dark"] .hljs-params,
[data-bs-theme="dark"] .hljs-property,
[data-bs-theme="dark"] .hljs-punctuation,
[data-bs-theme="dark"] .hljs-tag {
  /* purposely ignored */
}