{% extends "layout.j2" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{site_url}}/hljs-light.css">
<link rel="stylesheet" href="{{site_url}}/hljs-dark.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{%block title %}{{mathlib3_import|join('.')}} | {{super()}}{% endblock %}

{% block body %}

<h1>
    <a href="https://leanprover-community.github.io/mathlib_docs/{{mathlib3_import|join('/')}}"><code>{{mathlib3_import|join('.')}}</code></a> ⟷
    {% if mathlib4_import is not none %}
    <a href="https://leanprover-community.github.io/mathlib4_docs/{{mathlib4_import|join('/')}}"><code>{{mathlib4_import|join('.')}}</code></a>
    {% else %}?{% endif %}</a>
</h1>
{% if touched %}
{% set ((added, removed), diff, commits) = touched %}
<h2 id="forward-port">Changes needing forward-porting</h2>
<p>The most recent change is shown first.</p>
<ul>
    {%- for c in commits %}
        <li>{{c.hexsha | link_sha}}: {{c.summary | htmlify_comment}}</li>
    {%- endfor %}
</ul>
<pre><code class="language-diff">{{ diff }}</code></pre>
{% if commits %}
<p>After forward-porting this diff, please update the SHA in the file header to <code>{{commits[0].hexsha}}</code>, and include a link to this page in the PR description to help reviewers.
If they exist, also link to any forward-port PRs that already forward-ported it.</p>
{% endif %}
{% endif %}

{% set parts = data.dep_counts %}
<h2>Dependencies <small>
    {%- set plus = joiner(" + ") %}
    {%- if parts[0] -%}{{ plus() }}<span class="text-danger" title="unported">{{parts[0]}}</span>{%- endif -%}
    {%- if parts[1] -%}{{ plus() }}<span class="text-warning" title="in progress">{{parts[1]}}</span>{%- endif -%}
    {%- if parts[2] -%}{{ plus() }}<span class="text-success" title="ported">{{parts[2]}}</span>{%- endif -%}
</small></h2>
<p>The unported dependencies are</p>
<ul>
    {% for d in data.dependencies|rejectattr("state", "equalto", PortState.PORTED) %}
        <li><a href="{{ site_url }}/file/{{d.mathlib3_import|join('/')}}"><code>{{d.mathlib3_import|join('.')}}</code></a></li>
    {% endfor %}
</ul>


{% endblock %}
