{% extends "layout.j2" %}
{% import 'progress.j2' as progress -%}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{site_url}}/hljs-light.css">
<link rel="stylesheet" href="{{site_url}}/hljs-dark.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
<script src="https://unpkg.com/d3-dag@0.11.1"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{{site_url}}/graph.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{%block title %}{{mathlib3_import|join('.')}} | {{super()}}{% endblock %}

{% block nav %}
{{ super() }}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="old">alternate view</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="out-of-sync">out of sync</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}

<h1>
    <a href="https://leanprover-community.github.io/mathlib_docs/{{mathlib3_import|join('/')}}"><code>{{mathlib3_import|join('.')}}</code></a> ⟷
    {% if data.status.ported %}
    <a href="https://leanprover-community.github.io/mathlib4_docs/{{mathlib4_import|join('/')}}"><code>{{mathlib4_import|join('.')}}</code></a>
    {% elif mathlib4_import is not none %}
    <code class="text-muted">{{mathlib4_import|join('.')}}</code>
    {% else %}?{% endif %}
</h1>

{% if data.state == PortState.PORTED%}
<div class="alert alert-success">This file has been ported!</div>
{% elif data.state == PortState.IN_PROGRESS %}
<div class="alert alert-warning">This file is currently being ported at <a href="https://github.com/leanprover-community/mathlib4/pull/{{data.status.mathlib4_pr}}">#{{data.status.mathlib4_pr}}</a>.
  {%- for label in data.labels %}
  <a class="badge rounded-pill"
     href='https://github.com/leanprover-community/mathlib4/pulls?q=is%3Apr+is%3Aopen+label%3A"{{label.name}}"'
     style="background-color:#{{label.color}};color:{{label.color | text_color_of_color}}">
    {{label.name}}
  </a>
  {%- endfor %}
</div>
{% endif %}
{% if data.status.mathlib4_sync_prs %}
    <div class="alert alert-warning">
        This file has open sync PRs:
        <ul>
            {%- for pr in data.status.mathlib4_sync_prs %}
                <li><a href="https://github.com/leanprover-community/mathlib4/pull/{{pr.num}}">#{{pr.num}}</a>
                    {%- for label in pr.labels %}
                        <a class="badge rounded-pill"
                            href='https://github.com/leanprover-community/mathlib4/pulls?q=is%3Apr+is%3Aopen+label%3A"{{label.name}}"'
                            style="background-color:#{{label.color}};color:{{text_color_of_color(label.color)}}">
                            {{label.name}}
                        </a>
                    {%- endfor %}
                </li>
            {%- endfor %}
        </ul>
    </div>
{% endif %}
{% if data.status.comment.message is not none %}
<p>Before working on this file, consider the following:</p>
<figure>
  <blockquote class="blockquote">
    <p>{{ data.status.comment.message | htmlify_comment }}</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    From <a href="https://github.com/leanprover-community/mathlib4/wiki/port-comments">the port comment wiki</a>
  </figcaption>
</figure>
{% endif %}
<script>
var range = new URLSearchParams(window.location.search).get('range');
var base = null;
var head = null;
if (range != null) {
    [base, head] = range.split('..', 2);
    document.currentScript.insertAdjacentElement('beforebegin',
    $('<div>').addClass('alert alert-info').append(
        'You arrived at this page via a link referring to ',
        $('<code class="text-danger">').text(base),
        "..",
        $('<code class="text-success">').text(head),
        '. These commits will be highlighted in the same colors below if found!'
    )[0]);
}
</script>
{% macro commit_details(commit, diff, default_repo) %}
    {% set msg = commit.message.split('\n', 1) %}
    {% if msg|length > 1 %}
        <details class="card-text">
            <summary><span class="fw-semibold">{{msg[0] | htmlify_comment(default_repo=default_repo)}}</span></summary>
            {{msg[1] | htmlify_text(default_repo=default_repo)}}
        </details>
    {% else %}
        <p class="fw-semibold card-text">{{msg[0] | htmlify_comment(default_repo=default_repo)}}</p>
    {% endif %}
    {% if not diff.new_file %}
        <details class="card-text">
            <summary>Diff</summary>
            <pre><code class="language-diff">{{ diff.diff.decode('utf8') }}</code></pre>
        </details>
    {% endif %}
{% endmacro %}
{% if data.forward_port is not none %}
</div>
<div style="background-color: var(--bs-tertiary-bg)" id="forward-port">
<div class="container">
    <h2>Changes since the initial port</h2>
    <p>The following section lists changes to this file in mathlib3 and mathlib4 that occured after the initial port.
    Most recent changes are shown first.
    Hovering over a commit will show all commits associated with the same mathlib3 commit.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 mathlib3-changes">
            <h3>Changes in mathlib3</h3>
            {% set mentioned = data.mathlib4_history | map(attribute='source.commit') | set %}
            <div>
                {%- for c, diff in data.forward_port.all_unported_commits %}
                    {# We hide the boring commits so that they only appear if someone actually references them in the URL or a sync header #}
                    {% set hidden = diff is none and c.hexsha not in mentioned %}
                    <div class="card mb-1 card-horizontal{% if hidden %} d-none{% endif %}" data-mathlib3-sha="{{ c.hexsha }}">
                        <div class="card-header">{{c | link_sha(path=data.mathlib3_file)}}</div>
                        <div class="card-body">
                            {% if diff is not none %}
                                {{ commit_details(c, diff, default_repo="leanprover-community/mathlib") }}
                            {% else %}
                                <p class="text-muted card-text">(no changes)</p>
                            {% endif %}
                        </div>
                    </div>
                {%- endfor %}
                {% if not data.forward_port.ported_commits or data.forward_port.ported_commits[0][0].hexsha != data.status.source.commit %}
                    <div class="card mb-1 card-horizontal" data-mathlib3-sha="{{ data.status.source.commit }}">
                        <div class="card-header">{{data.status.source | link_sha}}</div>
                        <div class="card-body">
                            <p class="text-muted card-text">(last sync)</p>
                        </div>
                    </div>
                {% endif %}
                {%- for c, diff in data.forward_port.all_ported_commits %}
                    {# We hide the boring commits so that they only appear if someone actually references them in the URL or a sync header #}
                    {% set is_last_sync = data.status.source.commit == c.hexsha %}
                    {% set hidden = diff is none and not is_last_sync and c.hexsha not in mentioned %}
                    <div class="card mb-1 card-horizontal{% if hidden %} d-none{% endif %}" data-mathlib3-sha="{{ c.hexsha }}">
                        <div class="card-header">{{c | link_sha(path=data.mathlib3_file)}}</div>
                        <div class="card-body">
                            {% if is_last_sync %}<p class="text-muted card-text">(last sync)</p>{% endif %}
                            {% if diff is not none %}
                                {{ commit_details(c, diff, default_repo="leanprover-community/mathlib") }}
                            {% elif not is_last_sync %}
                                <p class="text-muted card-text">(no changes)</p>
                            {% endif %}
                        </div>
                    </div>
                {%- endfor %}
                {% if data.status.source.commit != data.forward_port.base_commit.hexsha %}
                    <div class="card mb-1 card-horizontal" data-mathlib3-sha="{{ data.forward_port.base_commit.hexsha }}">
                        <div class="card-header">{{data.forward_port.base_commit | link_sha(path=data.mathlib3_file) }}</div>
                        <div class="card-body">
                            <p class="text-muted card-text">(first ported)</p></div>
                    </div>
                {% endif %}
            </div>
            {% if data.forward_port.unported_commits %}
                <details>
                    <summary>Overall diff</summary>
                    <pre><code class="language-diff">{{ data.forward_port.diff }}</code></pre>
                </details>
                <div class="alert alert-info">
                    <p>If you forward-port all of these commits, please update the SHA in the file header to <code>{{data.forward_port.unported_commits[0][0].hexsha}}</code>, and include a link to this page in the PR description to help reviewers as shown:</p>
                    <pre><code class="lang-markdown" style="white-space: pre-wrap">* [`{{mathlib3_import|join('.')}}`@`{{data.status.source.commit}}`..`{{data.forward_port.unported_commits[0][0].hexsha}}`]({{site_url}}/file/{{mathlib3_import|join('/')}}?range={{data.status.source.commit}}..{{data.forward_port.unported_commits[0][0].hexsha}})</code></pre>
                    <p>If they exist, also link to any forward-port PRs that already forward-ported it.</p>
                    <p>Do not forward-port a commit from this list without also forward-porting everything below it!</p>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h3>Changes in mathlib4</h3>
            <div>
                <div class="row">
                    <div class="col-1 fw-bold">mathlib3</div>
                    <div class="col-10"></div>
                    <div class="col-1 fw-bold text-right" style="direction: rtl;"><span style="direction: ltr;">mathlib4</span></div>
                </div>
                {%- for h in data.mathlib4_history %}
                    <div class="card mb-1 card-horizontal" data-mathlib3-sha="{{ h.source.commit }}">
                        <div class="card-header">{{h.source | link_sha(path=data.mathlib3_file)}}</div>
                        <div class="card-body">
                            {{ commit_details(h.commit, h.diff, default_repo="leanprover-community/mathlib4") }}
                        </div>
                        <div class="card-footer">{{h.commit | link_sha(path=data.status.mathlib4_file) }}</div>
                    </div>
                {%- endfor %}
            </div>
        </div>
    </div>
</div>
<script>
let cards = $('#forward-port .card');
let setActiveSha = function (s3) {
    cards.removeClass('bg-primary-subtle');
    cards.filter(function () { return $(this).data('mathlib3Sha') == s3 }).addClass('bg-primary-subtle');
};
// highlight the active commits.
$('#forward-port .mathlib3-changes .card').each(function () {
    let val = $(this).data('mathlib3Sha');
    if (val == null) {
        return;
    }
    else if (val == head) {
        $(this)
            .addClass('border-success')
            .removeClass('d-none')
            .attr('title', "The linked you followed declared this as the head commit")
            .find('.card-header')
            .addClass('bg-success-subtle');
    }
    else if (val == base) {
        $(this)
            .addClass('border-danger')
            .removeClass('d-none')
            .find('.card-header')
            .attr('title', "The linked you followed declared this as the base commit")
            .addClass('bg-danger-subtle');
    }
});
cards
    .hover(function () {
        setActiveSha($(this).data('mathlib3Sha'));
    }, function() {
        setActiveSha(null);
    })
</script>
</div>
<div class="container">
{% endif %}

{% set parts = data.dep_counts %}
<h2 id="dependencies">Dependencies <small>
    {%- set plus = joiner(" + ") %}
    {%- if parts[0] -%}{{ plus() }}<span class="text-danger" title="unported">{{parts[0]}}</span>{%- endif -%}
    {%- if parts[1] -%}{{ plus() }}<span class="text-warning" title="in progress">{{parts[1]}}</span>{%- endif -%}
    {%- if parts[2] -%}{{ plus() }}<span class="text-success" title="ported">{{parts[2]}}</span>{%- endif -%}
</small></h2>
{{ progress.bars([data] + data.dependencies) }}
{% set unported_deps = ([data] + data.dependencies)|rejectattr("state", "equalto", PortState.PORTED)|list%}
{% if unported_deps %}
    <details style="margin-bottom: 1em">
        <summary>Show graph</summary>
        <svg id="graph" style="overflow-x: visible; overflow-y: clip; max-height: calc(100vh - 56px); width: 100%"></svg>
    </details>
    <script>
    {% set edges, nodes = data.dep_graph_data %}
    const edges = {{edges | tojson}};
    const nodes = {{nodes | tojson}};
    let svg = document.getElementById('graph');
    let has_graphed = false;
    svg.parentElement.addEventListener('toggle', () => {
        if (svg.parentElement.hasAttribute('open') && !has_graphed) {
            has_graphed = true;
            make_graph(svg, edges, nodes);
        }
    })
    </script>
    <p>The unported dependencies are</p>
    <ul>
        {% for d in unported_deps %}
            <li><a href="{{ site_url }}/file/{{d.mathlib3_import|join('/')}}"><code>{{d.mathlib3_import|join('.')}}</code></a></li>
        {% endfor %}
    </ul>
{%else%}
<p>All dependencies are ported!</p>
{%endif%}
{% set unsynced_deps = data.dependencies|selectattr("forward_port.unported_commits")|list%}
{% if unsynced_deps %}
    <p>The following {{unsynced_deps | length}} dependencies have changed in mathlib3 since they were ported, which may complicate porting this file</p>
    <ul>
        {% for d in unsynced_deps %}
            <li><a href="{{ site_url }}/file/{{d.mathlib3_import|join('/')}}"><code>{{d.mathlib3_import|join('.')}}</code></a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
