<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mathlib porting status</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <script type="text/javascript">
    $(document).ready(function () {
        $('#main-table').DataTable();
    });
    </script>
</head>
<body>
    <div class="container">
        <h1>File list</h1>
        <table class="table" id="main-table">
            <tr>
                <th>File</th>
                <th>PR</th>
                <th>commit</th>
                <th>comments</th>
            </tr>
            {%- for f_import, f_status in status.file_statuses.items() %}
                <tr {%- if f_status.ported %} class="table-success" {% elif f_status.mathlib4_pr %} class="table-warning" {% endif %}>
                    <th scope="row">
                        <code>{{f_import}}</code>
                    </th>
                    <td>
                        {%- if f_status.mathlib4_pr %}
                            <a href="https://github.com/leanprover-community/mathlib4/pull/{{f_status.mathlib4_pr}}">#{{f_status.mathlib4_pr}}</a>
                        {%- endif %}
                    </td>
                    <td>
                        {%- if f_status.mathlib3_hash %}
                            <a href="https://github.com/leanprover-community/mathlib/commits/{{f_status.mathlib3_hash}}">{{f_status.mathlib3_hash[:8]}}</a>
                        {%- endif %}
                    </td>
                    <td>
                        {{f_status.comments}}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>