<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mathlib porting status</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <script type="text/javascript">
    $(document).ready(function () {
        let tables = $('.main-table').DataTable({
            // the default, but no search
            dom: "<'row'<'col-sm-12 col-md-6'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        });

        $('#search-input').on('search', function(e) {
            tables.search(this.value).draw();
        });
    });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Mathlib porting status</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <input class="form-control me-2" type="search" incremental placeholder="Search" aria-label="Search" id="search-input">
        </div>
    </div>
    </nav>
    <div class="container">
        <h2>In progress files</h2>
        <table class="table table-sm main-table">
            <thead>
                <tr>
                    <th>File</th>
                    <th>PR</th>
                    <th>comments</th>
                </tr>
            </thead>
            <tbody>
            {%- for f_import, f_status in status.file_statuses.items() if not f_status.ported and f_status.mathlib4_pr %}
                <tr>
                    <td>
                        <a href="https://leanprover-community.github.io/mathlib_docs/{{f_import.replace('.', '/')}}">
                            <code>{{f_import}}</code></a>
                    </td>
                    <td>
                        <a href="https://github.com/leanprover-community/mathlib4/pull/{{f_status.mathlib4_pr}}">#{{f_status.mathlib4_pr}}</a>
                    </td>
                    <td>
                        {{f_status.comments}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Ported files</h2>
        <table class="table table-sm main-table">
            <thead>
                <tr>
                    <th>File</th>
                    <th>commit</th>
                    <th>comments</th>
                </tr>
            </thead>
            <tbody>
            {%- for f_import, f_status in status.file_statuses.items() if f_status.ported %}
                <tr>
                    <td>
                        <a href="https://leanprover-community.github.io/mathlib_docs/{{f_import.replace('.', '/')}}">
                            <code>{{f_import}}</code></a>
                    </td>
                    <td>
                        {%- if f_status.mathlib3_hash %}
                            <a href="https://github.com/leanprover-community/mathlib/commits/{{f_status.mathlib3_hash}}">{{f_status.mathlib3_hash[:8]}}</a>
                        {%- endif %}
                    </td>
                    <td>
                        {{f_status.comments}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Unported files</h2>
        <table class="table table-sm main-table">
            <thead>
                <tr>
                    <th>File</th>
                    <th>comments</th>
                </tr>
            </thead>
            <tbody>
            {%- for f_import, f_status in status.file_statuses.items() if not f_status.ported and not f_status.mathlib4_pr %}
                <tr>
                    <td>
                        <a href="https://leanprover-community.github.io/mathlib_docs/{{f_import.replace('.', '/')}}">
                            <code>{{f_import}}</code></a>
                    </td>
                    <td>
                        {{f_status.comments}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>