<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mathlib porting status</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <script type="text/javascript">
    $(document).ready(function () {
        let tables = $('.main-table').DataTable({
            // the default, but no search
            dom: "<'row'<'col-sm-12 col-md-6'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        });

        $('#search-input').on('search', function(e) {
            tables.search(this.value).draw();
        });
    });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Mathlib porting status</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <input class="form-control me-2" type="search" incremental placeholder="Search" aria-label="Search" id="search-input">
        </div>
    </div>
    </nav>
    {%- set count = (ported|length) + in_progress|length + (unported|length) %}
    {%- set p_ported = 100 * (ported|length) / count %}
    {%- set p_in_progress = 100 * in_progress|length / count %}

    {%- set l_ported = ported.values()|rejectattr('lines', "none")|sum(attribute='lines') %}
    {%- set l_in_progress = in_progress.values()|rejectattr('lines', "none")|sum(attribute='lines') %}
    {%- set l_unported = unported.values()|rejectattr('lines', "none")|sum(attribute='lines') %}
    {%- set l_count = l_ported + l_in_progress + l_unported %}
    <div class="container">
        <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Ported"
                style="width: {{p_ported}}%" aria-valuenow="{{ported|length}}" aria-valuemin="0" aria-valuemax="{{count}}">{{ported|length}} files ported</div>
            <div class="progress-bar bg-warning" role="progressbar" aria-label="In progress"
                title="{{in_progress|length}} files in progress"
                style="width: {{p_in_progress}}%" aria-valuenow="{{in_progress|length}}" aria-valuemin="0" aria-valuemax="{{count}}"></div>
        </div>
        <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Ported"
                title=""
                style="width: {{l_ported / l_count * 100}}%" aria-valuenow="{{l_ported}}" aria-valuemin="0" aria-valuemax="{{l_count}}">{{l_ported}} lines ported</div>
            <div class="progress-bar bg-warning" role="progressbar" aria-label="In progress"
                title="{{l_in_progress}} lines in progress"
                style="width: {{l_in_progress / l_count * 100}}%" aria-valuenow="{{l_in_progress}}" aria-valuemin="0" aria-valuemax="{{l_count}}"></div>
        </div>
        <h2>In progress files</h2>
        <table class="table table-sm main-table">
            <thead>
                <tr>
                    <th>File</th>
                    <th>PR</th>
                    <th>comments</th>
                    <th title="Number of files depending on this file">dependents</th>
                    <th>lines</th>
                </tr>
            </thead>
            <tbody>
            {%- for f_import, f_data in in_progress.items() %}
                <tr>
                    <td>
                        <a href="https://leanprover-community.github.io/mathlib_docs/{{f_import.replace('.', '/')}}">
                            <code>{{f_import}}</code></a>
                    </td>
                    <td>
                        <a href="https://github.com/leanprover-community/mathlib4/pull/{{f_data.status.mathlib4_pr}}">#{{f_data.status.mathlib4_pr}}</a>
                    </td>
                    <td>{{f_data.status.comments if f_data.status.comments}}</td>
                    <td>{{f_data.dependents|length}}</td>
                    <td>{{f_data.lines if f_data.lines}}</td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
        <h2>Ported files</h2>
        <table class="table table-sm main-table">
            <thead>
                <tr>
                    <th>File</th>
                    <th>commit</th>
                    <th>comments</th>
                    <th>lines</th>
                </tr>
            </thead>
            <tbody>
            {%- for f_import, f_data in ported.items() %}
                <tr>
                    <td>
                        <a href="https://leanprover-community.github.io/mathlib_docs/{{f_import.replace('.', '/')}}">
                            <code>{{f_import}}</code></a>
                    </td>
                    <td>
                        {%- if f_data.status.mathlib3_hash %}
                            <a href="https://github.com/leanprover-community/mathlib/commits/{{f_data.status.mathlib3_hash}}">{{f_data.status.mathlib3_hash[:8]}}</a>
                        {%- endif %}
                    </td>
                    <td>{{f_data.status.comments}}</td>
                    <td>{{f_data.lines if f_data.lines}}</td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
        <h2>Unported files</h2>
        <table class="table table-sm main-table">
            <thead>
                <tr>
                    <th>File</th>
                    <th>comments</th>
                    <th title="Number of files needed by this file">dependencies</th>
                    <th title="Number of files depending on this file">dependents</th>
                    <th>lines</th>
                </tr>
            </thead>
            <tbody>
            {%- for f_import, f_data in unported.items() %}
                <tr>
                    <td>
                        <a href="https://leanprover-community.github.io/mathlib_docs/{{f_import.replace('.', '/')}}">
                            <code>{{f_import}}</code></a>
                    </td>
                    <td>{{f_data.status.comments}}</td>
                    {%- set parts = f_data.dep_counts %}
                    <td data-sort="{{parts|join(',')}}">
                    {%- set plus = joiner(" + ") %}
                    {%- if parts[0] -%}{{ plus() }}<span class="text-danger" title="unported">{{parts[0]}}</span>{%- endif -%}
                    {%- if parts[1] -%}{{ plus() }}<span class="text-warning" title="in progress">{{parts[1]}}</span>{%- endif -%}
                    {%- if parts[2] -%}{{ plus() }}<span class="text-success" title="ported">{{parts[2]}}</span>{%- endif -%}
                    </td>
                    <td>{{f_data.dependents|length}}</td>
                    <td>{{f_data.lines if f_data.lines}}</td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>