{% extends "layout.j2" %}

{% block nav %}
{{ super() }}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="old.html">alternate view</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="out-of-sync.html">out of sync</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}
{% for warning in warnings %}
<div class="alert alert-warning">{{ warning }}</div>
{% endfor %}
<h1>Ready to port</h1>
<p>The following files have all dependencies ported already.
Earlier items in the list are required in more places in mathlib.</p>
<div class="table-responsive"><table class="table table-sm">
    <tbody>
    {%- for k, v in allDone.items() %}
        <tr>
            <td>
                <a href="{{site_url}}/file/{{k.replace('.', '/')}}">
                    <code>{{k}}</code></a>
            </td>
            <td>
                {{ v[1] | htmlify_comment }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table></div>
<h1>Maybe ready to port</h1>
<p>The following files have their immediate dependencies ported already, and may be ready to port:</p>
<div class="table-responsive"><table class="table table-sm">
    <tbody>
    {%- for k, v in parentsDone.items() %}
        <tr>
            <td>
                <a href="{{site_url}}/file/{{k.replace('.', '/')}}">
                    <code>{{k}}</code></a>
            </td>
            <td>
                {{ v[1] | htmlify_comment }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table></div>
<h1>Ported but unsynced</h1>
<p>The following files are marked as ported, but do not have a SYNCHRONIZED WITH MATHLIB4 label.</p>
<div class="table-responsive"><table class="table table-sm">
    <tbody>
    {%- for k, v in needsSync %}
        <tr>
            <td>
                <a href="{{site_url}}/file/{{k.replace('.', '/')}}">
                    <code>{{k}}</code></a>
            </td>
            <td>
                {{ v.comments | htmlify_comment }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table></div>
<h1>Ported but unverified</h1>
<p>The following files are marked as ported, but have not been verified against a commit hash from mathlib.</p>
<div class="table-responsive"><table class="table table-sm">
    <tbody>
    {%- for k, v in unverified %}
        <tr>
            <td>
                <a href="{{site_url}}/file/{{k.replace('.', '/')}}">
                    <code>{{k}}</code></a>
            </td>
            <td>
                {{ v[1] | htmlify_comment }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table></div>
</div>

{% endblock %}