{% extends "layout.j2" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="hljs-light.css">
<link rel="stylesheet" href="hljs-dark.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block nav %}
{{ super() }}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="old.html">alternate view</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="out-of-sync.html">out of sync</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}
{% for warning in warnings %}
<div class="alert alert-warning">{{ warning }}</div>
{% endfor %}
<h1>Possibly out of sync</h1>
<p>The following {{ touched | length }} files at {{head_sha | link_sha}} have been modified in mathlib3 since the commit at which they were verified.</p>
<p>It is possible that these changes have already been forward-ported, and all that remains is to update the SHA in the header comment in mathlib4.</p>
<script>
$(document).ready(function () {
    let elem = $('.sync-table');
    let last_row_id = undefined;
    let child_elems = new Map();
    elem.find('tbody > tr').each((i, row) => {
        if ($(row).data('isChild')) {
            child_elems[last_row_id] = $(row);
            $(row).detach();
        } else {
            last_row_id = $(row).find('td > span').data('childKey');
        }
    });

    let table = elem.DataTable({
        columns: [
            {
                "class":          'dt-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            null, null, null, null,
        ],
    });
    elem.on('click', 'td.dt-control', function () {
        var tr = $(this).closest('tr');
        let key = $(this).children('span').data('childKey');
        var row = table.row(tr);
 
        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        } else {
            // Open this row
            row.child(child_elems[key]).show();
            tr.addClass('shown');
        }
    });
});
</script>
<div class="table-responsive"><table class="table table-sm sync-table">
    <thead>
        <th></th>
        <th>File</th>
        <th>Verified at</th>
        <th>Mathlib3 changes (newest first)</th>
        <th>&pm;</th>
    </thead>
    <tbody>
    {%- for k, ((added, removed), diff, commits) in touched.items() %}
        <tr>
            <td class="dt-control">
                <span data-child-key="{{k}}"></span>
            </td>
            <td>
                <a href="https://leanprover-community.github.io/mathlib_docs/{{k.replace('.', '/')}}">
                    <code>{{k}}</code>
                </a>
            </td>
            <td>{{verified[k] | link_sha }}</td>
            <td data-order="{{commits | length}}">
                <ul>
                    {%- for c in commits %}
                        <li>{{c.hexsha | link_sha}}: {{c.summary | htmlify_comment}}</li>
                    {%- endfor %}
                </ul>
            </td>
            <td data-order="{{added + removed}}">
                <span style="display: none"></span>
                <span class="text-success" title="added">+{{added}}</span>&nbsp;<span class="text-danger" title="removed">-{{removed}}</span>
            </td>
        </tr>
        <tr data-is-child="true">
            <td colspan="5">
                <pre><code class="language-diff">{{ diff }}</code><pre>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}